* {
  font-family: "Futura", sans-serif !important;
  color: #000000 !important;
}

.screen1 {
  min-height: 100vh;
  background-image: url("../images/Screen1bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-attachment: fixed;
}

.logo {
  width: 150px;
  
  margin-bottom: 20px;
}

.card {
  max-width: 480px;
  min-height: 520px;
  background: #ffffff73;
  padding: 25px;
  border-radius: 20px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 20px;
  position: relative;
}

.card h2 {
  font-family: "Athleas", serif !important;
  font-style: medium;
  font-weight: 500;
  font-size: 32px;
  color: #d5b85a !important;
  margin: 0 auto;
  text-align: center;
  line-height: 1.2;
}

.login-title {
  font-family: "Athleas", serif !important;
  font-size: 32px;
  font-weight: 500;
  color: #d5b85a !important;
  margin: 80px auto 0 auto;
  text-align: center;
  line-height: 1.2;
}

.card p {
  font-size: 30px;
  font-weight: 400;
  margin-top: 60px;
  color: #d5b85a !important;
  
}

.input {
  width: 99%;
  height: 56px;
  padding: 12px;
  margin-top: 0;
  border-radius: 3px;
  border: 1px solid #aaa;
  box-sizing: border-box;
  font-size: 15px;
}

.input:first-of-type {
  margin-top: 80px;
}

.btn {
  width: 99%;
  margin-top: 24px;
  height: 56px;
  padding: 12px;
  background: #D5B85A;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 16px;
}

.back-btn {
  position: absolute;
  left: 25px;
  bottom: 25px;
  background: white;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
} 

.password-wrapper {
  position: relative;
  width: 100%;
}

.eye-icon {
  position: absolute;
  right: 25px;
  top: 50%;
  transform: translateY(10%);  /* <-- FIXED FOR YOUR EXACT INPUT STYLE */
  cursor: pointer;
  font-size: 22px;
  line-height: 1;
  display: flex;
  align-items: center;
}




.password-wrapper .input {
  padding-right: 45px !important; /* Add spacing so text doesn't overlap */
}

