* {
  font-family: "Jost", sans-serif !important;
}

.screen1 {
  min-height: 100vh;
  background-image: url("../images/Screen1bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-attachment: fixed;
}

.logo {
  width: 150px;
  height: 100px;
  margin-bottom: 20px;
}

.card {
  max-width: 480px;
  min-height: 520px;
  background: #ffffff73;
  padding: 25px;
  border-radius: 20px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 20px;
  position: relative;
}

.card h2 {
  font-family: jost;
  font-style: medium;
  font-weight: 500;
  font-size: 32px;
  color: #D5B85A;
  margin: 0 auto;
  text-align: center;
  line-height: 1.2;
}

.card p {
  font-size: 20px;
  font-weight: 400;
  margin-top: 10px;
  color: #111;
}

.input {
  width: 90%;
  height: 56px;
  padding: 12px;
  margin-top: 40px;
  border-radius: 3px;
  border: 1px solid #aaa;
  box-sizing: border-box;
  font-size: 15px;
}

.btn {
  width: 90%;
  margin-top: 30px;
  height: 56px;
  padding: 12px;
  background: #D5B85A;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 16px;
}

.back-btn {
  position: absolute;
  left: 25px;
  bottom: 25px;
  background: white;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
