.screen1 {
  min-height: 100vh;
  background-image: url("../images/Screen1bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-attachment: fixed;

  
}

.logo {
  width: 120px;
  margin-bottom: 20px;
}

.card {
  
  max-width: 480px;
  height: 500px;
  background:#FFFFFF73;
  padding: 25px;
  border-radius: 20px;
  text-align: center;
  
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 20px;
  
}
.card p{
  font-family: jost;
  font-size: 20px;
  font-style: regular;
  font-weight: 400;
  margin-top: 21px;
   width: 100%;
  text-align: center;
}
.card h2{
  /* font-weight: 500;
  font-size: 32px;
  
  
  color: #D5B85A; */
  font-family: jost;
  font-style: medium;
  font-weight: 500;
  font-size: 32px;
  color: #D5B85A;
  margin: 0 auto;      /* centers with consistent spacing */
  display: block;      /* ensures correct centering in card */
  text-align: center;  /* explicitly center text */
  line-height: 1.2; 
  width: 100%;
  
}

.input {
  width: 90%;
  height: 56px;
  padding: 12px;
  margin-top: 80px;
  border-radius: 3px;
   box-sizing: border-box;
  border: 1px solid #aaa;
}

.btn {
  width: 90%;
  margin-top: 24px;
  height: 56px;
  padding: 12px;
  background: #D5B85A;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 16px;
}

small {
  display: block;
  margin-top: 110px;
  color: #5E677C;
  font-size: 14px;
  font-family: poppins;
  text-align: center;
  font-weight: 400;
  font-style: regular;
}

