*{
  font-family: "Futura", sans-serif !important;
  color: #000000 !important;
}
.screen1 {
  min-height: 100vh;
  background-image: url("../images/Screen1bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-attachment: fixed;

  
}

.logo {
  width: 150px;
cursor: pointer;
  margin-bottom: 20px;
}

.card {
  max-width: 480px !important;
  height: 500px !important;
  
  background:#FFFFFF73;
  padding: 25px;
  border-radius: 20px;
  text-align: center;
  
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 20px;
  
}
.card .cardp{
  font-family: "Futura", sans-serif !important;
  font-size: 16px !important;
  font-style: regular;
  font-weight: 400 !important;
  margin-top: 21px !important;
   width: 100%;
  text-align: center;
  color:black !important;
  
}
.card h2{
  font-family: "Athleas", serif !important;
  font-style: medium;
  font-weight: 500;
  font-size: 32px;
  color: #d5b85a !important;
  margin: 0 auto;      /* centers with consistent spacing */
  display: block;      /* ensures correct centering in card */
  text-align: center;  /* explicitly center text */
  line-height: 1.2; 
  width: 100%;
  margin-top: 15px !important;
  
}

.input {
  width: 91% !important;
  height: 56px;
  padding: 12px;
  margin-top: 80px;
  border-radius: 3px;
   box-sizing: border-box;
  border: 1px solid #aaa;
}

.btn {
  width: 91% !important;
  margin-top: 24px;
  height: 56px;
  padding: 12px;
  background: #D5B85A;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 16px;
}

small {
  display: block;
  margin-top: 120px;
  color: #5E677C;
  font-size: 14px;
  font-family: poppins;
  text-align: center;
  font-weight: 400;
  font-style: regular;
}

.phone-wrapper {
  display: flex;
  gap: 10px;
  margin-top: 80px;
  width: 91%;
  margin-left: auto;
  margin-right: auto;
}

.country-code {
  width: 32%;
  height: 56px;
  border: 1px solid #aaa;
  border-radius: 3px;
  padding: 8px;
  font-size: 15px;
  background: #fff;
}

.phone-input {
  width: 68%;
  height: 56px;
  padding: 12px;
  border-radius: 3px;
  border: 1px solid #aaa;
  box-sizing: border-box;
}
a{
  color: #D5B85A !important;
  text-decoration: none;
}

/* Back Button */
.back-btn {
  position: fixed;
  bottom: 40px;
  left: 40px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: #d5b85a !important;
  color: white !important;
  border: none;
  font-size: 28px;
  cursor: pointer;
  z-index: 1000;
}

@media (max-width: 768px) {
  .back-btn {
    bottom: 20px;
    left: 20px;
  }
}
