


/* ---------- RESET ---------- */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
}

/* ---------- GLOBAL FONT (NO COLOR HERE) ---------- */
* {
  font-family: "Futura", sans-serif !important;
}

/* ---------- BACKGROUND ---------- */
.screen2-bg {
  min-height: 100vh;
  width: 100%;
  background-image: url("../images/Screen1bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* ---------- LOGO ---------- */
.logo2 {
  width: 150px;
  margin-bottom: 20px;
  cursor: pointer;
}

/* ---------- CARD ---------- */
.card2 {
  /* width: 100%; */
  max-width: 480px;
  height: 500px;
  background: #FFFFFF73;
  padding: 25px;
  border-radius: 20px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 20px;
  margin: 0 16px;

  
}

/* ---------- TITLE ---------- */
.card2 .title {
  
  font-family: "Athleas", serif !important;
  font-weight: 500;
  font-size: 32px;
  color: #d5b85a !important;
  
  text-align: center;
  line-height: 1.2;
  margin-top: 50px !important;
  margin-bottom: 10px !important;
  
}

/* ---------- SUBTITLE (FIXED BLACK) ---------- */
.subtitle {
  font-family: "Futura", sans-serif !important;
  font-size: 16px !important;
  font-weight: 400 !important;
  margin-top: 0px !important;
  text-align: center;
  color: #000000 !important;
}

/* ---------- OTP TEXT ---------- */
.card2 .otp-text {
  margin-top: 20px;
  color: #555 !important;
  font-size: 15px;
  margin-left: 5px;
}

/* ---------- OTP INPUTS ---------- */
.otpBox {
  margin-top: 60px;
  text-align: left;
}

.otp-input {
  width: 47px;
  height: 56px;
  border: 1px solid #aaa;
  border-radius: 3px;
  font-size: 18px;
  text-align: center;
  margin: 4px;
  outline: none;
}

/* ---------- BUTTON ---------- */
.btn2 {
  width: 97%;
  margin-top: 24px;
  height: 56px;
  background: #d5b85a;
  color: #ffffff !important;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 16px;
}

/* ---------- TIMER ---------- */
.timer-text {
  margin-top: 11px;
  color: #5e677c !important;
  font-size: 14px;
  text-align: center;
}

/* ---------- RESEND ---------- */
.resend-btn {
  background: none;
  border: none;
  color: #fff !important;
  font-size: 16px;
  cursor: pointer;
  margin-top: 12px;
  text-decoration: underline;
}

/* ---------- RESPONSIVE ---------- */
@media (max-width: 520px) {
  .card2 {
    height: auto;
  }
}
